.main{

	background-repeat:no-repeat;
	background-size:100% 100%;
}
.roomno{
	color:#E21469;
	font-family:'Montserrat';
	font-size:4em;
	font-weight:bold;
	margin-top:25px;
	margin-left:70px;



}
.currenttime{
	color:#62217F;
	font-family:'Montserrat';
	font-size:4em;
	font-weight:bold;
	margin-top:25px;
	margin-right:50px;


}
p{
	margin:0.2vw;
}

.now{
	color:#7dc353;
	font-family:'Montserrat';
	font-weight:Extra-bold;
	font-size:5em;

}
.status2{
	color:#FDB713;
	font-family:'Montserrat';
	font-weight:Extra-bold;
	font-size:6.5vw;

}

.margin{
	margin-top:20px;
}
.time{

font-weight:bold;
}
.two{
position:absolute;
top:21vh;
text-align:center;
left:55vw;
font-weight:bold;
}

.center{
    width: 90%;
	display:block;
	margin-top:19.25vh;
	margin-left:auto;
	margin-right:auto;
}
.cancel1{
width:40%;
position:absolute;
top:34vh;
right:57.5vw;
}
.cancel2{
width:32%;
height:40%;
display:block;
position:absolute;
top:35vh;
left:56.5vw;
}
.noclass1{
width:40%;
position:absolute;
top:34vh;
right:57.5vw;
}
.noclass2{
width:35%;
display:block;
position:absolute;
top:40vh;
left:55vw;
}
.code{
	font-size:4vw;
	color:#136BB5;
	font-family:'Montserrat';
}
.name{
	font-size:2em;
	color:#E21469;
	font-family:'Montserrat';
	display:inline-block;

}
.staff{
	font-size:2.75vw;
	color:#070504;
	font-family:'Montserrat';
	margin-bottom:10px;
}
.time{
	font-size:2vw;
	color:#676463;
	font-family:'Montserrat';
}
