.main{

	background-repeat:no-repeat;
	background-size:100% 100%;
}

.roomno{
	color:#E21469;
	font-family:'Montserrat';
	font-size:75px;
	position:absolute;
	font-weight:bold;
	left:70px;
	top:-7px;


}
.currenttime{
	color:#62217F;
	font-family:'Montserrat';
	font-size:50px;
	font-weight:bold;
	left:300px;
	top:12px;
	position:absolute;


}
p{
	margin:5px;
}
.status{
	color:#FDB713;
	font-family:'Montserrat';
	font-weight:Extra-bold;
	font-size:80px;

}
.one{
position:absolute;
right:800px;
top:130px;
text-align:center;
font-weight:bold;
}
.two{
position:absolute;
right:170px;
top:135px;
text-align:center;
font-weight:bold;
}

.spacer{
	width: 75%;
	display:block;
	margin-top:120px;
	margin-left:auto;
	margin-right:auto;
}
.subjectcode{
	font-size:65px;
	color:#136BB5;
	font-family:'Montserrat';
}
.subjectname{
	font-size:55px;
	color:#E21469;
	font-family:'Montserrat';
}
.lecturername{
	font-size:45px;
	color:#070504;
	font-family:'Montserrat';
}
.timeheld{
	font-size:35px;
	color:#676463;
	font-family:'Montserrat';
}
