.header{


  color:white;

  background-color: #FF4500;


  font-size:25px;
  font-family: 'Montserrat', cursive;


}

/*font-family: 'Luckiest Guy', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Vidaloka', serif;
font-family: 'Lato', sans-serif;
*/

.active{


}
.innactive{

color:#00FF00;
}
