

@media screen and (min-width:40em){  /*large screen sizes*/
.grid {

    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;

    grid-gap:10px;



}


#status {
  color:red
}


}



.rt-resizable-header-content{
  color:blue
}
