
body {

/*background-color:#FFFAFA*/
/*background: url(background.jpeg) no-repeat center center  fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}
  /*background: linear-gradient(45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 56%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);

/*  background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
